.book {
    display: flex;
    margin: 30px 300px;
}

.book-left {
    margin-top: 30px;
    padding: 10px;
}

.book-left__image {
    border: 1px solid rgba(122, 121, 121, 0.2);
    margin: 15px 0;
}

.book-left__image>img {
    height: 600px;
}

.book-left+.book-right {
    margin-left: 20px;
}

.book-right {
    margin-top: 5px;
    min-width: 100px;
}

.book-right .book-right__discript>h2 {
    margin-top: 0px;
}

.book-right__available {
    display: inline;
    font-weight: normal;
    color: rgba(52, 97, 221, 0.7);
}

.book-right__price {
    display: inline;
    font-weight: normal;
    text-decoration: line-through;
}

.book-right__discount {
    display: inline;
    font-weight: bold;
    color: red;
}

.book-right__save {
    display: inline;
    font-weight: normal;
}

.book-right .book-right__discript>h2 {
    font-size: 20px;
}

.book-right .book-right__discript>p {
    font-size: 15px;
    font-weight: bold;
    color: rgba(110, 106, 106, 0.8);
}

.book-right__content {
    font-size: 14px;
    font-weight: normal;
    color: rgba(110, 106, 106, 0.5);
}

.book__btn {
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #435f9f;
    color: #ffff;
    line-height: 35px;
    border: none;
    outline: none;
    padding: 10px 25px;
    cursor: pointer;
}

.book__btn--cart {
    margin-top: 15px;
    font-size: 14px;
    background-color: #1c67ae;
}

.book-right__payment>img {
    width: 400px;
    height: 280px;
}

.book-right__promotion {
    font-size: 14px;
    font-weight: normal;
    color: rgba(110, 106, 106, 0.7);
}

.book-right__promotion>p {
    margin: 5px 0px;
}

.book-right__promotion--fa-check {
    color: rgba(8, 122, 8, 0.657);
}

.book-right__title {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.book-right__title--payment {
    border-bottom: 3px solid black;
}

.book-intr {
    margin: 30px 300px;
}

.book-intr__image {
    z-index: 1;
    left: 9px;
    width: 110px;
    height: 145px;
    margin: 0;
    padding: 0;
    border: 2px solid #3bb2ca;
}

.book-intr__image img {
    width: 87%;
    height: auto;
    padding: 4px 4px 4px 4px;
}

.book-intr .book-right__title h3 {
    color: rgba(22, 21, 20, 0.8);
    min-height: 10px;
    margin: 10px 0px;
    /* border-bottom:2px solid black; */
    /* text-shadow: 3px 3px 5px #474745;s */
}

.book-intr .book-right__title--underline {
    position: absolute;
    height: 3px;
    width: 61%;
    background-color: #1c67ae;
    margin-top: -8px;
    margin-bottom: 0;
}

.book-intr .book-right__title h3:hover {
    transition: 0.2s;
    color: #1c67ae;
    /* text-shadow:none; */
}

.book-intr__content {
    /* border: 1px solid rgba(110, 106, 106, 0.3); */
    z-index: 1;
    min-width: 50%;
    min-height: 50px;
    margin: 0;
    padding: 0px 10px 25px 5px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(65, 57, 57, 0.9);
}


/*-------------------
Response 
---------------------*/

@media only screen and (width: 90em) {
    .book-intr .book-right__title--underline {
        width: 58%;
    }
}


/* Table width = 1024px */

@media only screen and (width: 64em) {
    .book {
        display: flex;
        margin: 20px 80px;
    }
    .book-left {
        margin-top: 22px;
        padding: 10px;
    }
    .book-left__image>img {
        height: 490px;
    }
    .book-right__payment>img {
        width: 260px;
        height: 220px;
    }
    .book-intr .book-right__title--underline {
        width: 80%;
        margin-top: -8px;
    }
    .book-intr {
        margin: 20px 100px;
    }
}


/* Table Width >=740px and width < 1024px */

@media only screen and (min-width: 46.25em) and (max-width: 50.1em) {
    .book {
        display: flex;
        margin: 15px 10px 15px 10px;
    }
    .book-left {
        margin-top: 21px;
        padding: 5px;
    }
    .book-left__image>img {
        height: 400px;
    }
    .book-right__payment>img {
        width: 220px;
        height: 180px;
    }
    .book__btn {
        font-size: 12px;
        line-height: 25px;
        padding: 8px 20px;
    }
    .book__btn--cart {
        margin-top: 10px;
        font-size: 12px;
    }
    .book-right__title {
        font-size: 14px;
    }
    .book-intr .book-right__title>h3 {
        font-size: 14px;
    }
    .book-intr .book-right__title--underline {
        width: 95%;
        margin-top: -8px;
    }
    .book-intr {
        margin: 15px 10px 15px 10px;
    }
}


/* Mobile width>=425 and width < 740px */

@media only screen and (min-width: 26.5625em) and (max-width: 46.1875em) {
    .book {
        display: block;
        margin: 0px 5px;
    }
    .book-left {
        margin-top: 0px;
    }
    .book-left__image {
        margin: 15px 0px;
    }
    .book-left__image>img {
        height: 550px;
        padding-left: 5px;
    }
    .book-left__image+.book-intr__image {
        margin-top: 0px;
    }
    .book-intr__content {
        padding: 0px 10px 25px 15px;
        font-size: 14px;
    }
    .book-intr .book-right__title h3 {
        margin: 10px 15px;
        font-size: 20px;
    }
    .book-intr .book-right__title--underline {
        width: 92%;
        margin-left: 15px;
    }
    .book__btn {
        font-size: 12px;
        line-height: 25px;
        padding: 8px 18px;
    }
    .book__btn--cart {
        margin-top: 8px;
        font-size: 12px;
    }
    .book-intr {
        margin: 15px 0px;
    }
}


/* Mobile width = 375px */

@media only screen and (width: 23.4375em) {
    .book {
        display: block;
        margin: 0px 5px;
    }
    .book-left {
        margin-top: 0px;
    }
    .book-left__image {
        margin: 0px;
    }
    .book-left__image>img {
        height: 480px;
        padding-left: 7px;
    }
    .book-left__image+.book-intr__image {
        margin-top: 0px;
    }
    .book-left__image {
        margin: 15px 0px;
    }
    .book-right__payment>img {
        width: 320px;
        height: 250px;
    }
    .book-intr {
        margin: 15px 30px;
    }
    .book-intr .book-right__title--underline {
        width: 95%;
        margin-top: -8px;
    }
    .book-intr {
        margin: 15px 5px;
    }
}


/* Mobile width = 320px */

@media only screen and (width: 20em) {
    .book {
        display: block;
        margin: 0px 5px;
    }
    .book-left {
        margin-top: 0px;
    }
    .book-left__image {
        margin: 0px;
    }
    .book-left__image>img {
        height: 400px;
        padding-left: 8px;
    }
    .book-left+.book-right {
        padding-left: 0px;
    }
    .book-left__image+.book-intr__image {
        margin-top: 0px;
    }
    .book-left__image {
        margin: 15px 0px;
    }
    .book-right__payment>img {
        width: 320px;
        height: 250px;
    }
    .book-intr {
        margin: 15px 30px;
    }
    .book-intr__content {
        padding: 0px 0px 25px 0px;
    }
    .book-intr .book-right__title--underline {
        width: 95%;
        margin-top: -8px;
    }
    .book-intr {
        margin: 15px 5px;
    }
}